{% extends 'layout/mail.html.twig' %}

{% block content %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <p>{% trans %}Hey there,{% endtrans %}</p>
                <p>{% trans %}Please click the following link to verify your email:{% endtrans %}</p>
                <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                    <tbody>
                        <tr>
                            <td align="center">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td><a href="{{ url("app_ui_verify_subscriber", {'email': email_address, 'token': token}) }}" target="_blank">{% trans %}Verify Email{% endtrans %}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p>{% trans %}If you didn't subscribe then you can safely ignore this email!{% endtrans %}</p>
                <p>{% trans %}Thanks,{% endtrans %}<br/>{{ app_name }} {% trans %}Team{% endtrans %}.</p>
            </td>
        </tr>
    </table>
{% endblock %}
