{% extends 'layout/admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col-8">
            <h2 class="page-title">
              {% trans %}Newsletter{% endtrans %}
            </h2>
          </div>
          <div class="col-4">
            <div class="text-end">
              <a href="{{ path('app_ui_newsletter_add') }}" class="btn btn-light">{% trans %}Add New{% endtrans %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl" id="app_newsletter_index">
        <div class="row row-cards">
          <div class="col-12">
            <div class="card">
              <div class="table-responsive">
                <table class="table table-vcenter card-table table-striped">
                  <thead>
                    <tr>
                      <th>{% trans %}Name{% endtrans %}</th>
                      <th>{% trans %}Delivery Status{% endtrans %}</th>
                      <th>{% trans %}Delivery Type{% endtrans %}</th>
                      <th>{% trans %}Created At{% endtrans %}</th>
                      <th>{% trans %}Updated At{% endtrans %}</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="newsletter in newsletters">
                      <td>${newsletter.name}</td>
                      <td class="text-muted">${newsletter.deliveryStatus}</td>
                      <td class="text-muted">${newsletter.deliveryType}</td>
                      <td class="text-muted">${newsletter.createdAt}</td>
                      <td class="text-muted">${newsletter.updatedAt}</td>
                      <td>
                        <a :href="newsletter.editLink" class="text-muted">{% trans %}Edit{% endtrans %}</a> -
                        <a href="#" :endpoint="newsletter.deleteLink" class="text-danger" v-on:click.prevent="deleteNewsletter">
                          {% trans %}Delete{% endtrans %}
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br/>
          <div class="col-12 text-center" v-show="showLoad">
            <button v-on:click.prevent="getNextNewsletters" class="btn btn-light">{% trans %}Load More!{% endtrans %}</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
