{% extends 'layout/admin.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col-8">
            <h2 class="page-title">
              {% trans %}Subscribers{% endtrans %}
            </h2>
          </div>
          <div class="col-4">
            <div class="text-end">
              <a href="{{ path('app_ui_subscriber_add') }}" class="btn btn-light">{% trans %}Add New{% endtrans %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl" id="app_subscriber_index">
        <div class="row row-cards">
          <div class="col-12">
            <div class="card">
              <div class="table-responsive">
                <table class="table table-vcenter card-table table-striped">
                  <thead>
                    <tr>
                      <th>{% trans %}Email{% endtrans %}</th>
                      <th>{% trans %}Status{% endtrans %}</th>
                      <th>{% trans %}Created At{% endtrans %}</th>
                      <th>{% trans %}Updated At{% endtrans %}</th>
                      <th class="w-1"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="subscriber in subscribers">
                      <td>${subscriber.email}</td>
                      <td class="text-muted">${subscriber.status}</td>
                      <td class="text-muted">${subscriber.createdAt}</td>
                      <td class="text-muted">${subscriber.updatedAt}</td>
                      <td>
                        <a :href="subscriber.editLink">{% trans %}Edit{% endtrans %}</a>
                      </td>
                    </tr>
                    <tr v-show="noRecords">
                      <td colspan="5" class="text-center text-muted">
                        {% trans %}No Records Found!{% endtrans %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br/>
          <div class="col-12 text-center" v-show="showLoad">
            <button v-on:click.prevent="getNextSubscribers" class="btn btn-light">{% trans %}Load More!{% endtrans %}</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
